.MainSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  min-width: fit-content;

  background-color: lightyellow;
  border: 1px solid gray;
  border-radius: 4px;
}
