.Section {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;

  min-width: 460px;
}

.Hidden {
  display: none !important;
}

.Box {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 8px;
}

button:hover {
  opacity: 1;
}

button {
  font-size: 14px;
  border: none;
  padding: 6px 9px;
  border-radius: 4px;
  color: white;
  background-color: goldenrod;
  opacity: 0.8;
  transition: 0.2s;
}

button[type="submit"] {
  padding: 6px 12px;
  margin-top: 8px;
}

label {
  margin-top: 8px;
}

.SectionName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.1em;
}

.SectionForm > div {
  display: flex;
  flex-direction: column;
}
