.Section {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;

  min-width: 460px;
}

.Hidden {
  display: none !important;
}

.Box {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 8px;
}

.SectionName {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.1em;
}

.SectionItem > div {
  display: flex;
  flex-direction: column;
}
